.ventana0{
    background:rgb(218, 131, 200);
    width:40%;
    color:rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center; 
    padding: 33px;
    min-height: 350px;
    border-radius: 22px;
    position: absolute;
    left:30%;
    top:25%;
    display: none;
}

.ventana1{
    background:rgb(218, 131, 200);
    width:40%;
    color:rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center; 
    padding: 33px;
    min-height: 350px;
    border-radius: 22px;
    position: absolute;
    left:30%;
    top:25%;
    display: none;
}

.ventana2{
    background:rgb(218, 131, 200);
    width:40%;
    color:rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center; 
    padding: 33px;
    min-height: 350px;
    border-radius: 22px;
    position: absolute;
    left:30%;
    top:25%;
    display: none;
}
.ventana3{
    background:rgb(218, 131, 200);
    width:40%;
    color:rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center; 
    padding: 33px;
    min-height: 350px;
    border-radius: 22px;
    position: absolute;
    left:30%;
    top:25%;
    display: none;
}
.ventana4{
    background:rgb(218, 131, 200);
    width:40%;
    color:rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center; 
    padding: 33px;
    min-height: 350px;
    border-radius: 22px;
    position: absolute;
    left:30%;
    top:25%;
    display: none;
}

.cerrar{
    position: absolute;
    right: 3px;
    top: 1px;

}

